/*
    Styles for table elements
*/
table {
    width: 100%;
    border-collapse: collapse;
}

/*
    Styles for table header (th) and table data (td) cells
*/
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

/*
    Styles the <th> (table header) elements with a light gray background color
    to visually distinguish header cells from other table cells.
*/
th {
    background-color: #f4f4f4;
}

/* 
    Styles for <button> elements
*/
 button {
            background-color: #4CAF50;
            color: white;
            margin-right: 10px;
            margin-bottom: 10px;
        }

/* 
    Styles for the button with ID 'loadImagesButton'
*/
#loadImagesButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    
    cursor: pointer;
    text-size-adjust: 16px;
}

/* 
    Styles the #loadImagesButton element when hovered.
*/
#loadImagesButton:hover {
    background-color: #45a049;
}